<html>
<head>
<title>TESTE</title>
</head>
<body></body>
<h1>Formulário</h1>


<form method="post" action="enviar.php">
    
   <label>Nome</label></br>
   <input name="name" placeholder="Seu Nome"></br>
    
   <label>Email</label></br>
   <input name="email" type="email" placeholder="Seu email"></br>
    
   <label>Mensagem</label></br>
   <textarea name="message" placeholder="O que deseja falar?"></textarea></br>
    
   <label>*Quanto é 2+2? (Anti-spam)</label></br>
   <input name="human" placeholder="Responda aqui"></br>
    
   <input id="submit" name="submit" type="submit" value="Submit"></br>      
    
   </form>
    
</body>
</html>