<html>
<head>
<title>TESTE</title>
</head>
<body></body>

<h1>Formulário</h1>
{{ form.non_field_errors }}
{{ form.errors }}
<form method="post" action="">
    {% csrf_token %}    
    
   <label for="nome">Nome</label></br>
   <input name="name" id='nome' placeholder="Seu Nome"></br>    
   <label>Email</label></br>
   <input name="email" id="email" type="email" placeholder="Seu email"></br>
    
   <label>Mensagem</label></br>
   <textarea name="message" id="mensagem" placeholder="O que deseja falar?" row="20" cols="50"></textarea></br>   
   <p>
   <input id="submit" name="submit" type="submit" value="Submit"></br>      
   </p>
   </form>
    
</body>
</html>